<!DOCTYPE html>
<html>
<head>
	<title> Sesizeaza autoritatile </title>
</head>
<body>
	<h1> Contacteaza autoriatile locale </h1>
	<a href = "http://www.sesizam.ro/sesizare%20sesizari.htm"> Centralizator sesizari </a> <br />
	<a href = "https://www.gnm.ro/contact.php"> <button> Site-ul Garzii de mediu </button> </a> <br />
	<a href = "mailto:secretariat@adp-sector1.ro"> <button> Trimite un email la ADP Sector 1</button> </a> <br />
	<a href = "office@adp2-bucuresti.ro"> <button> Trimite un email la ADP Sector 2</button> </a> <br />
	<a href = "domeniu.public@primarie3.ro"> <button> Trimite un email la ADP Sector 3</button> </a> <br />
	<a href = "info@adp4.ro"> <button> Trimite un email la ADP Sector 4</button> </a> <br />
	<a href = "adp@sector5.ro"> <button> Trimite un email la ADP Sector 5</button> </a> <br />
	<a href = "contact@adpdu6.ro"> <button> Trimite un email la ADP Sector 6</button> </a> <br />
</body>
</html>