
<!-- IF ( {USER_LOGGED} == 0 ) [logged] -->
<form action="{REAL_URL}internal/register_steam.php" method="post">
	<input type="submit" id="steam_logon" name="submit" value="">
</form>

<form action="{REAL_URL}internal/register_google.php" method="post">
	<input type="submit" id="google_logon" name="submit" value="">
</form>


<!-- ELSE [logged] -->

<div id="here">

</div>

<h3>Trash Locations</h3>
<div id="map"></div>
<script>

	function placeMarker(location, map) {
		var marker = new google.maps.Marker({
			position: location,
			map: map
		});
	}

	var map, infoWindow;

	function addMarker(obj) {
		let marker = new google.maps.Marker({
			position: obj,
			label: "X",
			map: map,
			draggable: false,
			animation: google.maps.Animation.DROP
		});
		google.maps.event.addListener(marker, 'click', function() {
			map.setCenter(marker.getPosition());
		});
	}

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 44.451316599999995, lng: 27},
			zoom: 15
		});
		infoWindow = new google.maps.InfoWindow;

		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				let pos = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};

				infoWindow.setPosition(pos);
				infoWindow.setContent('Location found.');
				infoWindow.open(map);
				map.setCenter(pos);


				$.ajax({
					url: BOARD_AJAX + '/get_trash',
					beforeSend: function () {
					},
					success: function (get) {
						let trash = JSON.parse(get);

						for (let i = 0; i < trash.length; i++) {
							let obj = trash[i];
							addMarker(new google.maps.LatLng(obj.lat, obj.lng));
						}
					}
				});

				map.addListener('click', function (e) {
					<!-- IF ( {USER_INFORMATION}[permission] != 0 ) [permission] -->
					let r = confirm("Are you sure?");
					if (r) {
						$.ajax({
							url: BOARD_AJAX + '/create_trash/' + e.latLng.lat() + '/' + e.latLng.lng() ,
							beforeSend: function() {} ,
							success: function(html) {
								$("#here").html(html).fadeIn();
							}
						});
/*
						$.post(BOARD_AJAX + '/post_trash', {'lng': e.latLng.lng, 'lat': e.latLng.lat, 'added': {USER_INFORMATION}[ID]}, function (data) {
							addMarker(e.latLng);
						});*/
					}
					<!-- END_IF [permission] -->
				});

				/*var markers = locations.map(function(location, i) {
                    return new google.maps.Marker({
                      position: location,
                      label: "X"
                    });
              });

              var markerCluster = new MarkerClusterer(map, markers,
              {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
              */
			}, function () {
				handleLocationError(true, infoWindow, map.getCenter());
			});
		} else {
			// Browser doesn't support Geolocation
			handleLocationError(false, infoWindow, map.getCenter());
		}
	}




	function handleLocationError(browserHasGeolocation, infoWindow, pos) {
		infoWindow.setPosition(pos);
		infoWindow.setContent(browserHasGeolocation ?
				'Eroare: Nu am putut gasi locatia ta' :
				'Eroare: Browser-ul tau nu suporta Geolocatie');
		infoWindow.open(map);
	}

</script>
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYdMmXufdKcgsVpBeTFJvw0iX1OGhoMDA&callback=initMap">
</script>

<!-- END_IF [logged] -->
